body{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.steps{
    display: flex;
    gap: 5rem;
}
.step{
    border: 5px solid grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.step::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px); /* Espacio entre los elementos y la línea */
    width: 85px; /* Longitud de la línea */
    height: 5px; /* Grosor de la línea */
    background-color: gray; /* Color de la línea */
    transform: translateY(-50%);
    color: gray;

}


    .step:last-child::after {

        display: none; /* Oculta la línea después del último elemento */
      }