body{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.steps{
    width: 75%;
    border: 2px solid black;

}
 
.container{
  display: flex;
  width: 100%;
  border: 2px solid black;
  justify-content: space-between;
}
.circle{
  border: 2px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.linea-horizontal{

  position: absolute;
  width: 75%;
  top: 48%;
  z-index: -1;border-top: 3px solid transparent; /* Establecer un borde superior transparente */
  background-image:linear-gradient(to right, red 25%, blue 25%, blue 50%, green 50%, green 75%, pink 75%, pink 100%);
  background-size: 100% 2px;
}

